<section class="container">
    <div class="row text-center">
        <!-- player -->
        <div class="col" id="myId">
            <div class="mb-5">           
                <h1> username </h1>
            </div>
            <div class="my-3 option">
                <img id="rock" class="player" role="button" src="/images/batu.png" alt="batu">
            </div>
            <div class="my-3 option">
                <img id="scissors" class="player" role="button" src="/images/gunting.png" alt="gunting">
            </div> 
            <div class="my-3 option">
                <img id="paper" class="player" role="button" src="/images/kertas.png" alt="kertas">
            </div>
        </div>
        <!-- vs -->
        <div class="col d-flex justify-content-center align-items-center">
            <div id="vs" class="vs">VS</div>
            <div id="win" class="d-flex justify-content-center align-items-center result win text-uppercase">player<br> WIN</div>
            <div id="lose" class="d-flex justify-content-center align-items-center result win">COM <br> WIN</div>
            <div id="draw" class="d-flex justify-content-center align-items-center result draw">DRAW</div>
        </div>
        <!-- com -->
        <div class="col">
            <div class="mb-5"><h1>Bot</h1></div>
            <div class="my-3 option">
                <img id="comrock" clas="bot" src="/images/batu.png" alt="batu">
            </div>
            <div class="my-3 option">
                <img id="comscissors" class="bot" src="/images/gunting.png" alt="gunting">
            </div>
            <div class="my-3 option">
                <img id="compaper" class="bot" src="/images/kertas.png" alt="kertas">
            </div>
        </div>
    </div>
    <div class="text-center option">
        <img id="reset" class="reset" role="button" src="/images/refresh.png" alt="reset">
    </div>
</section>