<section id="mainpage" class="content mainpage d-flex align-items-center">
    <div class="container-fluid">
      <div class="d-flex justify-content-center">
        <div class="flex-column text-center">
          <h1>play traditional game</h1>
          <h3>Experience new traditional game play</h3>
          <a role="button" href="/game" class="hero-button text-uppercase">play now</a>
        </div>
      </div>
      <div class="position-absolute bottom-0 start-50 translate-middle-x text-center hidden-xs-1">
        <a href="#aboutgallery" class="text-decoration-none text-white">
          <h3>the story</h3>
          <img src="images/scroll-down.svg" alt="show-more" />
        </a>
      </div>
    </div>
</section>