<section class="content aboutgallery" id="aboutgallery">
    <div class="container">
      <div class="row d-sm-flex text-sm-center text-lg-start">
        <!-- only text -->
        <div class="col-lg-3 col-md-12 left-xs">
          <h3>What's so special ?</h3>
          <h1>the games</h1>
        </div>
        <!-- slide show image -->
        <div class="col-lg-9 col-md-12 py-lg-4 d-flex">
          <img class="switch-left" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" src="images/switch-left.svg" alt="">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
              <div class="carousel-item">
                <img src="images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
          <img class="switch-right" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" src="images/switch-right.svg" alt="">
        </div>
      </div>
    </div>
</section>