<section class="content pressquotes">
    <div class="container">
      <div class="row d-flex align-items-center pt-6">
        <div class="col-lg-6 mb-lg-5 text-sm-center text-lg-start p-sm-2 text-lg-start text-xs-center">
          <h1 class="py-xs">top scores</h1>
          <p class="pt-sm-3 pb-lg-4">This top score from various games provided on this platform</p>
          <a href="" class="hero-button">see more</a>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="container d-sm-flex d-lg-block flex-sm-column justify-content-sm-center align-items-sm-center">
            <!-- evan -->
            <div class="row justify-content-lg-end mb-3 item-xs-center">
              <div class="card">
                <div class="container d-flex flex-wrap">
                  <img src="images/evan-lahti.jpg" alt="acc" class="avatar d-flex align-items-end">
                  <div class="me-auto ps-4 d-flex flex-column">
                    <span class="text-bg-binar">Evan lahti</span>
                    <span class="opacity-50">Pc Gamer</span>
                  </div>
                  <img src="images/twitter.svg" alt="logo" class="">
                </div> 
                <div class="container pt-lg-2">
                  <p>“One of my gaming highlights of the year.”<br></p>
                  <span class="opacity-50">June 18, 2021</span>
                </div>
              </div>
            </div>
            <!-- jada -->
            <div class="row justify-content-lg-start mb-3 item-xs-center">
              <div class="card">
                <div class="container d-flex flex-wrap">
                  <img src="images/jada-griffin.jpg" alt="acc" class="avatar d-flex align-items-end">
                  <div class="me-auto ps-4 d-flex flex-column">
                    <span class="text-bg-binar">Jada Griffin </span>
                    <span class="opacity-50">Nerdreactor</span>
                  </div>
                  <img src="images/twitter.svg" alt="logo" class="">
                </div> 
                <div class="container pt-lg-2">
                  <p>“The next big thing in the world of streaming and survival games.”<br></p>
                  <span class="opacity-50">July 10, 2021</span>
                </div>
              </div>
            </div>
            <!-- Aaron Williams -->
            <div class="row justify-content-lg-end mb-3 item-xs-center">
              <div class="card">
                <div class="container d-flex flex-wrap">
                  <img src="images/aaron-williams.jpg" alt="acc" class="avatar d-flex align-items-end">
                  <div class="me-auto ps-4 d-flex flex-column">
                    <span class="text-bg-binar">Aaron Williams</span>
                    <span class="opacity-50">Uproxx</span>
                  </div>
                  <img src="images/twitter.svg" alt="logo" class="">
                </div> 
                <div class="container pt-lg-2">
                  <p>“Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous.”<br></p>
                  <span class="opacity-50">December 24, 2018</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>