<section class="content subsfooter">
    <div class="container">
      <div class="row py-5">
        <div class="col-lg-6 col-md-12 text-center">
          <div class="container">
            <img class="skull" src="images/skull.png" alt="gambar"/>
          </div>
        </div>
        <div class="col my-auto">
          <h3 class="mb-2 text-xs-center text-sm-center text-lg-start">
            Want to stay in <br class="hidden-xs"> touch ?
          </h3>
          <h1 class="mb-2 text-xs-center text-sm-center text-lg-start">
            newsletter <br class="hidden-xs"> SUBSCRIBE
          </h1>
          <p class="konten text-sm-center text-lg-start">
            In order to start receiving our news, 
            all you have to do is enter your email address. 
            Everything else will be taken care of by us. 
            We will send you emails containing information about game. 
            We don't spam.
          </p>
          <div class="row">
            <div class="col-lg-7">
              <form>
                <div class="field">
                  <input type="text" name="fullname" id="fullname" value="youremail@binar.co.id"/>
                  <label class="text-capitalize">your email address</label>
                </div>
              </form>
            </div>
            <div class="col-lg-5">
              <a role="button" class="button-email d-flex justify-content-center align-items-center hero-button text-dark">
                Subscribe now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    <footer class="mt-lg-5">
      <div class="container text-uppercase">
        <div class="row d-flex pb-4">
          <div class="col-lg-1"></div>
          <div class="col-lg-8 d-flex justify-content-sm-center item-xs-center">
            <a href="" class="fw-bold px-lg-2 px-md-0">home</a>
            <a href="" class="fw-bold px-lg-2 px-md-0">about</a>
            <a href="" class="fw-bold px-lg-2 px-md-0">game features</a>
            <a href="" class="fw-bold px-lg-2 px-md-0">system requirements</a>
            <a href="" class="fw-bold px-lg-2 px-md-0">quotes</a>
          </div>
          <div class="col-lg-3 d-flex justify-content-lg-between justify-content-sm-center item-xs-center">
            <a href="" class="">
              <img src="images/facebook.svg" alt="facebook" />
            </a>
            <a href="" class="">
              <img src="images/twitter2.svg" alt="twitter" />
            </a>
            <a href="" class="">
              <img src="images/vector.svg" alt="youtube" />
            </a>
            <a class="">
              <img src="images/twitch.svg" alt="twitch" />
            </a>
          </div>
        </div>
        <div class="border w-100 d-flex"></div>
        <div class="row pt-lg-2 pb-lg-3 d-flex column-xs-reverse">
          <div class="col d-flex text-capitalize opacity-25 justify-content-lg-start justify-content-sm-center item-xs-center">
            © 2018 Your Games, Inc. All Rights Reserved
          </div>
          <div class="col-lg d-flex justify-content-lg-end small justify-content-sm-center item-xs-center">
            <a href="" class="fw-bold d-flex align-items-center">Privacy Policy</a>
            <span>&nbsp;|&nbsp;</span> 
            <a href="" class="fw-bold d-flex align-items-center">Terms of Services</a>
            <span>&nbsp;|&nbsp;</span>
            <a href="" class="fw-bold d-flex align-items-center">Code of Conduct</a>
          </div>
        </div>
      </div>
  </footer>
</section>
