<header class="d-flex align-items-center">
    <div role="button" class="back mx-1 ps-3">
        <a href="/"><img class="w-75" src="/images/_.png" alt=""></a>
    </div>
    <div role="button" class="logo mx-1"><img src="/images/logo 1.png" alt=""></div>
    <div class="title-game mx-3 title"><h1>ROCK PAPPER SCISSORS</h1></div>
</header>