<section class="content gamefeature">
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <div class="header">
            <h3>What's so special ?</h3>
            <h1>features</h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ul class="timeline">
              <li>
                <a class="text-bg-binar">TRADITIONAL GAMES</a>
                <p>If you miss your childhood, we provide<br>many traditional games here</p>
              </li>
              <li class="not-acitve">
                <a class="text-bg-binar">Game Suit</a>
              </li>
              <li class="not-acitve">
                <a class="text-bg-binar">TBD</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>