<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/game.css">
<body>
<%- include('../../game/navbar/navbar.ejs') %>
<%- include('../../game/main/main.ejs') %>
<%- include('../../game/js/js.ejs') %>
</body>
</html>