<section class="content systemrequire">
    <div class="container">
      <div class="row pt-lg-6 pb-5">
        <h3 class="text-center pb-lg-3 pt-sm-5 pb-sm-5 py-xs">Can My Computer Run this game ?</h3>
        <div class="col pt-lg-5 px-xs">
          <h1 class="pb-lg-4 text-sm-center text-lg-start pb-sm-4 text-xs-center py-xs">system <br class="hidden-xs"> requirments</h1>
          <!-- <img src="img/disquette.svg" alt="" style="position: absolute; width: 80px; background-color: rgba(255, 255, 255, 0.8); z-index: 10;"> -->
          <div class="row border-sys">
            <div class="col pb-lg-4"><span class="text-bg-binar">OS:</span>
              <br>Windows 7 64-bit only 
              <br>(No OSX support at this time)
            </div>
            <div class="col pb-lg-4"><span class="text-bg-binar">PROCESSOR:</span>
              <br>Intel Core 2 Duo @ 2.4 GHZ or 
              <br>AMD Athlon X2 @ 2.8 GHZ
            </div>
          </div>
          <div class="row border-sys">
            <div class="col pb-lg-4"><span class="text-bg-binar">mEMORY:</span>
              <br>4 GB RAM
            </div>
            <div class="col pb-lg-4"><span class="text-bg-binar">storage:</span>
              <br>8 GB available space
            </div>
          </div>
          <div class="row border-sys">
            <div class="col pb-lg-4">
              <span class="text-bg-binar">GRAPHICS:</span>
              <br>NVIDIA GeForce GTX 660 2GB or 
              <br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
            </div> 
          </div>
        </div>
        <div class="col-lg"></div>
      </div>
    </div>
</section>